body {
    background: #904e55;
    font-family: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.navWrapper {
  width: 60px;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  background: #904e55;
}

.navButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid 3px #904e55;
  transition: border-radius 0.2s ease, transform 0.3s ease;
}

.navButton:hover {
  border-radius: 10px;
}

.navButton:active {
  border-radius: 1000px;
}

.menu {
  background: #f2efe9;
  width: 220px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.15);
  border: solid #904e55;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 55px;
  transform: scale(0.01);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.5s ease;
  transform-origin: right top;
}

.menu.open {
  transform: scale(0.99);
  opacity: 1;
}

.menu a {
  color: #904e55;
  font-size: 20px;
  font-family: Karla;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 1rem;
  transition: 0.2s ease;
  text-transform: uppercase;
}

.menu a:hover {
  color: #d5b2b6;
} 

#home, #to-do, #part-one, #part-two, #test {
  margin-top: 20px;
}

.mainContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-content: space-around;
}

#header {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    color: #f2efe9;
    text-transform: uppercase;
    padding-top: 6rem;
    padding-bottom: 7rem;
    text-align: center;
}

.tabContent {
    font-family: 'Karla', sans-serif;
    color: #f2efe9;
    padding-bottom: 3rem;
}

#first p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

#second p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

#third p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

#fifth p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

#first {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
    background: #f2efe9;
    color: #904e55;
  border: solid;
}

#second {
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
    background: #f2efe9;
    color: #904e55;
  border: solid;
}

#third {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
    background: #f2efe9;
    color: #904e55;
  border: solid;
}

#slideshow {
  background: #f2efe9;
  border: solid #904e55;
  padding-top: 15px;
  padding-bottom: 15px;
}

#slideshow img {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

#btnLeft, #btnRight {
  background: #f2efe9;
  border: none;
  color: #904e55;
  font-size: 1.5rem;
  padding: 2px 30px 0px 12px;
  cursor: pointer;
}

#fifth {
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
    background: #f2efe9;
    color: #904e55;
  border: solid;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 5px;
}

.game {
    background: #f2efe9;
  border: solid #904e55;
}
